<div class="signup-complet">

  <div class="signup-main-page">
    <div class="container signup-form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%# <select name=":user_role">
        <option>Devenir client</option>
        <option>Devenir cook</option>
        </select> %>
        <div class="row usernames">
          <div class="col-6">
            <%= f.input :username, required: true %>
          </div>
        </div>
        <div class="row names">
          <div class="col-6">
            <%= f.input :first_name, required: true, autofocus: true %>
          </div>
          <div class="col-6">
            <%= f.input :last_name, required: true %>
          </div>
        </div>
        <div class="row addresses">
          <div class="col-6">
            <%= f.input :address_street, required: true %>
          </div>
          <div class="col-6">
            <%= f.input :address_street_number, required: true %>
          </div>
        </div>
        <div class="row addresses2">
          <div class="col-3">
            <%= f.input :city, required: true %>
          </div>
          <div class="col-3">
            <%= f.input :zipcode, required: true %>
          </div>
          <div class="col-6">
            <%= f.input :country, required: true, as: :string %>
          </div>
        </div>
        <div class="row phone">
          <div class="col-6">
            <%= f.input :phone_number, required: true %>
          </div>
            <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
        </div>
        <div class="row passwords">
          <div class="col-6">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="col-6">
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          </div>
        </div>

        <div class="buttons-signup-signup">
          <%= f.submit "Sign Up" %>
          <% end %>
        </div>
      </div>
          <%= render "devise/shared/links" %>
    </div>

  </div>


  <div class="container signup-sign-up">
    <h1>Welcome!</h1>
    <h3>Thank you for joining our food waste trackers community!</h3>
  </div>

</div>
