<h1 class="text-center">Become a cook</h1>
  <div class="row">

    <div class="col-4"></div>

    <div class="col-4">
      <%= simple_form_for(@user) do |f| %>
        <div class=“mb-2”>
          <%= f.input :first_name, placeholder: "First name" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :last_name, placeholder: "Last name" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :address_street, placeholder: "Street name" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :address_street_number, placeholder: "Street number" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :city, placeholder: "City" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :zipcode, placeholder: "Zip code" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :country, collection: ["Switzerland", "France"] %>
        </div>
        <div class=“mb-2”>
          <%= f.input :photo, label: "Upload a picture of you", as: :file %>
        </div>
        <div class=“mb-2”>
          <%= f.input :bio, placeholder: "Tell us a few words about yourself" %>
        </div>
        <div class=“mb-2”>
        <%= f.submit "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-4"></div>

</div>
