<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex">
    <div class="basket">
      <% if user_signed_in? && current_user.orders.any? %>
          <%= link_to order_path(current_user.orders.last), class: "navbar-basket" do %>
            <%= image_tag "https://cdn-icons-png.flaticon.com/512/113/113339.png" %>
          <% end %>
          <p class="pastille"><%= current_user.orders.last.ordered_meals.count %></p>

      <% else %>
        <%= link_to "/", class: "navbar-basket" do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/113/113339.png" %>
        <% end %>
      <% end %>
    </div>
    <div class="brand">
      <%= link_to "/", class: "navbar-brand-name" do %>
        <h4>batmeal</h4>
      <% end %>
    </div>

    <div class="button-become-cook">
      <% if !user_signed_in? || current_user.role == "customer" %>
        <a class="button-become" href="/users/edit_cook">Become a cook</a>
      <% end %>
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <%= cl_image_tag current_user.avatar.key , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My kitchen", "/my_meals", class: "dropdown-item"  if current_user.role == "cook"  %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      <% end %>

      <% if !user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
