<br>
<h1 class="text-center">Your Order #<%= @order.id %> is confirmed</h1>
<br>
<h4 class="text-center">You have been charged <strong><%= @total_price %></strong> CHF</p>
<h4 class="text-center">Pick up your food at your favorite cook place!</h4>
<br>

<div class="row">
  <div class="col">
  </div>
  <div class="col-6">
    <% @ordered_meals.each do |ordered_meal| %>
      <div class="card">
      <br>
      <div class="card-content">
        <p class=""><%= ordered_meal.quantity %> x <strong><%= ordered_meal.meal.title %></strong> - <%= ordered_meal.meal.price %> CHF</p>
        <p class=""><em>Your cook <strong><%= link_to "#{ordered_meal.meal.user.username}" %></strong> is expecting you at <%= link_to "#{ordered_meal.meal.user.full_address}" %> between <%= ordered_meal.meal.user.opening_hour %> and <%= ordered_meal.meal.user.closing_hour %></em></p>
      </div>
      </div>
    <% end %>
  </div>

  <div class="col">
  </div>
</div>

<div class="bouton index">
  <div class="text-center back-to-index">
    <a href="/meals">Take me back to meals</a>
  </div>
</div>

<br>
<br>
