<div class="frame">
  <div class="CartContainer">
    <div class="Header">
    <h3 class="Heading">Shopping Cart</h3>
    </div>
    <% @ordered_meals.each do |ordered_meal| %>
      <div class="Cart-Items">
          <div class="title"><%= ordered_meal.meal.title %></div>
          <div class="count-amount">
            <div class="count"><%= ordered_meal.quantity %> x</div>
            <div class="amount"><%= ordered_meal.meal.price %>.-</div>
          </div>
      </div>
    <% end %>
    <hr>
    <div class="checkout">
    <div class="total">
    <div>
      <div class="Subtotal">Sub-Total</div>
      <div class="items"><%= OrderedMeal.count %> items</div>
    </div>
    <div class="total-amount">CHF <%= @total_price %>.-</div>
    </div>

    <div class="confirmation-box">
      <%= link_to "Check out", order_confirmation_path(@order), class:"confirmation"%>
    </div>
    <div class="back-to-index-button">
      <a href="/meals">Back to meals</a>
    </div>



    </div>
  </div>
</div>
