<h1>Edit meal</h1>
  <div class="row">

    <div class="col-4"></div>

    <div class="col-4">
      <%= simple_form_for(@meal) do |f| %>
        <div class=“mb-2”>
          <%= f.input :title, placeholder: "Be specific" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :description, placeholder: "Describe your meal, origin, flavour...make it yummy!" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :category, collection: ["Starter", "Main course", "Dessert"] %>
        </div>
        <div class=“mb-2”>
          <%= f.input :quantity, placeholder: "Number of portions" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :price, placeholder: "Price per portion" %>
        </div>
        <div class="times">
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class=“mb-2”>
          <%= f.input :photo, label: "Upload another picture", as: :file %>
        </div>
        <div class=“mb-2”>
        <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-4"></div>

</div>
