<div class="row">
  <div class="col-6">
      <% if user_signed_in? %>
        <%= link_to "near me", meals_path(address: current_user.full_address) %>
        <%= form_tag meals_path, method: :get do %>
          <%= text_field_tag :search,
            params[:search],
            class: "form-control",
            placeholder: "Find a meal"
          %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= form_tag meals_path, method: :get do %>
          <%= text_field_tag :search,
            params[:search],
            class: "form-control",
            placeholder: "Find a meal"
          %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <% if @meals %>
        <span> <%= @meals.count %> Meals around you</span>
      <% end %>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="list-meals">
      <% @meals.each do |meal| %>
        <div class="card-product">
          <%= link_to image_tag("https://m.bettybossi.ch/static/rezepte/x/bb_bbzb220215_0006a_x.jpg"), meal_path(meal) %>
          <div class="card-product-infos">
            <h2><%= link_to meal.title, meal_path(meal) %></h2>
            <p><%= meal.description %>...</p>
            <div class="meal-infos">
              <div class="quantity"><%= meal.quantity %> left</div>
              <div class="price">CHF <%= meal.price %></div>
              <%= link_to meal_path(meal), class: "meal-order" do %>
                <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMvPamkzw8Kwv1jeH80n1DWGKAY6bm31VZ4g&usqp=CAU" %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-6 map-users">
    <div style="height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
