
<a class="btn btn-ghost" href="#">Closest to you</a>




  <div class="card-product">
    <img src="https://m.bettybossi.ch/static/rezepte/x/bb_bbzb220215_0006a_x.jpg" />
    <div class="card-product-infos">

        <h2>Pad thaï au poulet</h2>
        <p>Délicieux plat tradtionnel thaïlandais au gingembre, citron vert et poulet.</p>

        <div class="pricing">
          <h4>CHF 6.99 <%= link_to "#MEALSHOW", class: "meal-order" do %> </h4>
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMvPamkzw8Kwv1jeH80n1DWGKAY6bm31VZ4g&usqp=CAU" %>
          <% end %>
        </div>

    </div>
  </div>


<!--
<div class="col-8">
  <div class="cards">
    <% @meals.each do |ski| %>
      <%= link_to meal_path(meal) do %>
      <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path meal.photo.key, height: 600, crop: :fill %>')">
        <div class="brand-on-card"><%= meal.brand %></div>
        <div class="price-on-card"><%= meal.price %></div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
-->
