<div class="row">
  <div class="col-6 title">
    <h1>Welcome to your Cook page</h1>
  </div>
  <div class="col-6">
  </div>
</div>

<br>

<div class="row">

  <div class="col-6">

    <div class="card-cook">
      <img src="https://assets.caisy.io/assets/c5b98fcc-5e23-4df0-a5cd-2a7527d26cff/auOkRmCA7i/e697978e-fefc-40b7-96bc-2d6e08655cadd75a8d1fff3e49f7aea027be33306018edbf286bc1124d7d801445e04a2555d50150102V8Zarge009.jpg?w=1536&h=864" />
      <div class="card-cook-infos">
        <div>
          <h2>Title here</h2>
          <p>Hello! I am Italian and I developped a passion about cooking sonce I was little.</p>
          <p>As I am cooking for my husband and my 3 kids, I can also cook for you! </p>
          <p>I make delicious pastas, arrancinis and a lot more...</p>
        </div>
        <h2 class="card-cook-opening"><strong>19h - 22h</strong></h2>
        <img class="card-cook-user avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
      </div>
    </div>

    <br>

      <% @meals.each do |meal| %>
        <div class="card-product-selected">
          <%= link_to meal_path(meal) do %>
              <div class="card-product-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path meal.photo.key, height: 150, crop: :fill %>')">
              </div>
          <% end %>
          <div class="card-product-selected-infos">
            <div class="title"><%= meal.title %></div>
            <div class="description"><%= meal.description %>...</div>
            <div class="quantity"><%= meal.quantity %> left</div>
            <div class="price">CHF <%= meal.price %></div>
            <div class="delete-button">
              <%= link_to image_tag("https://pngset.com/images/trash-garbage-recycle-bin-trash-bin-icon-stencil-symbol-logo-trademark-transparent-png-967562.png"), meal_path(meal), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
            <div class="edit-button">
              <%= link_to image_tag("https://icons.veryicon.com/png/o/education-technology/onemind/edit-97.png"), edit_meal_path(meal), method: :get %>
            </div>
          </div>
        </div>
      <% end %>

  </div>


  <div class="col-6 offer">
    <h3>Everyday, tons of food are trashed.</h3>
    <br>
    <h5>You are a talented cook, make your neighbors aware of it!</h5>
    <h5>Here is the list of what you can offer to your local community</h5>
    <br>
    <br>
    <a class="button-create-a-meal" href="/meals/new">Create a new meal</a>
  </div>

</div>
