<h1 class="text-center">Create a meal</h1>
  <div class="row">

    <div class="col-4"></div>

    <div class="col-4">
      <%= simple_form_for(@meal) do |f| %>
        <div class=“mb-2”>
          <%= f.input :title, placeholder: "Be specific" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :description, placeholder: "Describe your meal, origin, flavour...make it yummy!" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :category, collection: ["Starter", "Main course", "Dessert"] %>
        </div>
        <div class=“mb-2”>
          <%= f.input :quantity, placeholder: "Number of portions" %>
        </div>
        <div class=“mb-2”>
          <%= f.input :price, placeholder: "Price per portion" %>
        </div>
        <div class="times">
        <div class="row">
          <div class="col-6">
            <%= f.input :date_time_start, label: "From", as: :date, html5: true %>
          </div>
          <div class="col-6">
            <%= f.input :date_time_start, label: "Opens at", as: :time, html5: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.input :date_time_end, label: "To", as: :date, html5: true %>
          </div>
          <div class="col-6">
            <%= f.input :date_time_end, label: "Closes at", as: :time, html5: true %>
          </div>
        </div>
        <div class=“mb-2”>
          <%= f.input :photo, label: "Take the nicest picture, attract your customers like a pro", as: :file %>
        </div>
        <div class=“mb-2”>
        <%= f.submit "Create", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-4"></div>

</div>
