<div class="row">
  <div class="col-6 title">
    <h1>Create a meal</h1>
  </div>
  <div class="col-6">
  </div>

</div>

<br>

<div class="row create-meals">

  <div class="col-10 form-create-meals">
    <%= simple_form_for(@meal) do |f| %>
      <div class=“mb-2”>
        <%= f.input :title, placeholder: "Be specific" %>
      </div>
      <div class=“mb-2”>
        <%= f.input :description, placeholder: "Describe your meal, origin, flavour...make it yummy!" %>
      </div>
      <div class=“mb-2”>
        <%= f.input :category, collection: ["Starter", "Main course", "Dessert"] %>
      </div>
      <div class=“mb-2”>
        <%= f.input :quantity, placeholder: "Number of portions" %>
      </div>
      <div class=“mb-2”>
        <%= f.input :price, placeholder: "Price per portion" %>
      </div>
      <div class="times">
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class=“mb-2”>
          <%= f.input :photo, label: "Take the nicest picture, attract your customers like a pro", as: :file %>
        </div>
        <div class="mb-2 create-a-meal">
          <%= f.submit "Create", class: "button-create-a-meal2" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-8 form-create-text">
    <h3>Everyday, tons of food are trashed.</h3>
    <br>
    <h5>You want to make your community benefit from your talent and contribute to a better world with less waste?</h5>
    <br>
    <h5>Describe your meal with an appealing title</h5>
    <h5>Upload the nicest photo like a pro</h5>
    <h5>Choose your opening hours</h5>
    <br>
    <h5>Et voilà !</h5>
    <br>

  </div>

</div>
