<br>

<div class="row">

  <div class="col-6">


    <div class="card-cook">
      <div class="kitchen" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.banner.key, height: 260, crop: :fill %>')">
      </div>

      <div class="infos">
        <h2><%= @user.username %></h2>
        <p><%= @user.bio %></p>
        <h3 class="opening"><%= @user.opening_hour %> - <%= @user.closing_hour %></h3>
        <div class="avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @user.avatar.key, height: 160, crop: :thumb, gravity: :face %>')">
        </div>
      </div>
    </div>

    <br>


    <div class="card-product-selected">
      <div class="card-product-img-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @meal.photo.key, crop: :fill %>')">
      </div>

      <div class="card-product-selected-infos">
        <div class="title"><%= @meal.title %></div>
        <div class="description"><%= @meal.description %></div>
          <div class="row">
            <div class="col-8">
              <div class="quantity"><%= @meal.quantity %> left</div>
            </div>
            <div class="col-3">
              <div class="price">CHF <%= @meal.price %></div>
            </div>
          </div>
          <%= link_to meal_ordered_meals_path(@meal), method: :post, class: "add-button" do %>
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMvPamkzw8Kwv1jeH80n1DWGKAY6bm31VZ4g&usqp=CAU" %>
          <% end %>
      </div>
    </div>


    <div class="bouton index2">
      <div class="text-center back-to-index">
        <a href="/meals">Back to meals</a>
      </div>
    </div>

  </div>

  <div class="col-6 map-users">
    <div style="height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
