<div class="login-complet">


  <div class="login-main-page" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574484284002-952d92456975?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWVhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">
    <div class="container sign-in-form">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class:"log-in" %>
          </div>
        <% end %>

        <%= render "devise/shared/links"%>
    </div>
  </div>



  <div class=" container login-sign-up">
    <div class="row">
      <div class="col">
        <h1>New Here?</h1>
        <h3>Sign up and discover a great amount of new opportunities to eat locally</h3>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

</div>
